@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding:5%">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/back.jpg" alt="New York" style="width:100%">
            <div class="carousel-caption">
                <h3>The Best music</h3>
                <p>every disc you can imagine.</p>
            </div>
        </div>
    </div>
</div>